:root {
    --step: 5%;
    --pattern: url("http://allyourhtml.club/carousel/pattern.webp") center / 75%;
    --rainbow: repeating-linear-gradient(0deg, rgb(255, 119, 115) calc(var(--step) * 1))
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    padding: 10rem 0 0 10rem;
}

