:root {
  --gradient1: hsl(18, 86%, 52%);
  --gradient2: hsl(245, 66%, 50%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    to right,
    var(--gradient1),
    var(--gradient2),
    var(--gradient1)
  );
  background-size: 200%;
  height: 100vh;
  overflow: hidden;
  margin: 0;

  animation: bg-pan 10s linear infinite;
}

body.toggled {
  animation: none;
}

body.toggled > #title {
  opacity: 0;
}

body.toggled > #icon {
  opacity: 1;
}

body.toggled > #tiles > .tile:hover {
  opacity: 0.1 !important;
}

.tiles {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
  position: relative;
  cursor: pointer;
  /* outline: 1px solid white; */
}

.tile::before {
  content: "";
  background-color: hsl(0, 0%, 8%);
  position: absolute;
  inset: 0.5px;
}

.tile:hover {
  opacity: 0.95;
}

@keyframes bg-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}
